@import "tailwindcss";

@theme {
  --color-maroon: #5c0a0a;
  --color-maroon-light: #800020;
  --color-gold: #d4af37;
  --color-gold-light: #f4e4bc;
  --color-dark: #121212;

  /* Daftar Font Baru */
  --font-luxury: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: #121212;
}

/* Custom Scrollbar (Agar elegan) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #5c0a0a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}
